---
import Card from "~/components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const thoughts = await getCollection("thoughts");
import ThoughtCard from "~/components/ThoughtCard.astro";
---

<Layout page="">
  <main class="mt-16">
    The new website for <code>marzolo.com</code>. It's still in development, and
    will likely be forever :). You can check out our current <a href="/posts"
      >posts</a
    >, or check out the family from the top bar.
  </main>
  <div id="thoughts_container" class="md:w-1/2 w-full self-end">
    <ul>
      {
        thoughts.map((t) => (
          <ThoughtCard
            author={t.data.label}
            body={t.data.content}
            theme={t.data.author}
            emoji={null}
            datetime={t.data.datetime}
          />
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  /* #thoughts_container {
    width: 50%;
  } */
</style>
